.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.roundAngle {
    border-radius: 5px;
}

.mb20 {
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    @media (max-width:768px) {
                
        padding: 0 20px;
    }
    @media (max-width:480px) {
                
        flex-direction: column;
    }

    h1 {
        font-size: 3rem;
        @media (max-width:480px) {
                
            margin-bottom: 20px;
        }

        a {
            color: #a23232;

        }
    }

    ul {
        display: flex;
        font-size: 1.2rem;

        li+li {
            margin-left: 50px;

        }

        a:hover {
            color: #a23232;
        }
    }
}