.standards {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;

    h2 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 2rem;
        text-align: center;
    }

    li {
        border-radius: 5px;
    }

    img[alt="老師"] {
        display: block;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
        transform: translateX(-40px);
    }

    @mixin triangle1($color) {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent $color;
    }

    @mixin triangle2($color) {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 100px 0 100px;
        border-color: $color transparent transparent transparent;
    }

    %align-v {
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    %align-h {
        left: 0;
        right: 0;
        margin: 0 auto;

    }

    .main {
        background-color: rgba($color: #a64242, $alpha: .07);
        margin-bottom: 120px;
        padding-top: 20px;

        .card-sequence {
            display: flex;
            justify-content: space-evenly;
            margin: 40px 0;

            li {
                box-sizing: border-box;
                width: 250px;
                height: 275px;
                border: 3px solid #a23232;
                position: relative;
                padding: 10px 25px
            }

            .span1 {
                @include triangle1(#a23232);
                @extend %align-v;
                right: -23px;
                z-index: -1;
            }

            li::after {
                content: "";
                @include triangle1(rgb(255, 243, 242));
                @extend %align-v;
                right: -20px;
            }

            li:nth-child(n+2) .span2 {
                @include triangle1(#a23232);
                @extend %align-v;
                left: -0.5px;
                z-index: -1;
            }


            li:nth-child(n+2)::before {
                content: "";
                @include triangle1(rgb(255, 243, 242));
                @extend %align-v;
                left: -3.5px;
            }


        }

        .card-group {

            li {
                margin-bottom: 40px;
                border: 6px solid #a23232;
                position: relative;
                padding: 100px 30px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .graphic {
                    display: flex;
                    justify-content: space-between;
                }

                a {
                    width: fit-content;

                    &:hover {
                        color: #a23232;

                    }
                }


                img {
                    max-width: 30%;
                    height: auto;
                    display: block;
                }
            }

            .span1 {
                @include triangle2(#a23232);
                @extend %align-h;
                bottom: -56px;
                z-index: 3;
            }

            li::after {
                content: "";
                @include triangle2(rgb(255, 243, 242));
                @extend %align-h;
                z-index: 1;
                bottom: -50px;
                z-index: 4;
            }

            li:nth-child(n+2) .span2 {
                @include triangle2(#a23232);
                @extend %align-h;
                top: 0px;
                z-index: 1;
            }

            li:nth-child(n+2)::before {
                content: "";
                @include triangle2(rgb(255, 243, 242));
                @extend %align-h;
                top: -6px;
                z-index: 2;
            }
        }
    }
}